# ==========================
# PostgreSQL
# ==========================
POSTGRES_IMAGE=postgres:17
POSTGRES_DB=rmsm
POSTGRES_USER=rmsm
POSTGRES_PASSWORD=CHANGE_ME

# ==========================
# Redis
# ==========================
REDIS_IMAGE=redis:8
REDIS_PASSWORD=CHANGE_ME

POSTGRES_PORT=5432
REDIS_PORT=6379

# ==========================
# Timezone
# ==========================
TZ=Asia/Kolkata